body{
    margin: 0;
    height: 250px;
    width: 200px;
    overflow: hidden;
}

.Teto{
    position: absolute;
    width: 200px;
    height: 200px;
    object-fit: cover;
    top: 50px;
    z-index: 10;
}

.topMenu{
    position: relative;
    display: flex;
    justify-content: space-between;
    top: 0;
    width: 200px;
    height: 20px;
    background-color: rgb(189, 235, 255);
}
.drag{
 -webkit-app-region: drag;
 height: 20px;
 width: 50px;
 background-color: aqua;
}