body{
    margin: 0;
    height: 300px;
    width: 300px;
}

.Teto{
    position: absolute;
    width: 200px;
    height: 200px;
    object-fit: cover;
    top: 50px;
    z-index: 10;
}
.Hook{
    position: absolute;
    width: 100px;
    height: 150px;
    top: -125px;
    transition:200ms;
    margin: auto;
    left: 50px;
    background-image: url('../assets/hook.png');
    background-size: cover;
    z-index: 5;
}
.dragElement{
    position: absolute;
    top: 0;
    left: 50px;
    margin: auto;
    width: 100px;
    height: 20px;
    background-color: red;
    opacity: 0.5;
    z-index: 15;
    -webkit-app-region: drag;
}
.HookActive{
    top: -60px;
}
.visible{
    display: block;
}
.hidden{
    display: none;
}